SensorMonitoring.BusinessLogin/Service References/SensorServiceReference/SensorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SensorMonitoring.Data.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SensorMonitoring.Data.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SensorDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IModelDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Dimension" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Limit" type="xs:double" />
          <xs:element minOccurs="0" name="Master" nillable="true" type="tns:UserDto" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Substance" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SensorDto" nillable="true" type="tns:SensorDto" />
  <xs:complexType name="IModelDto">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="IModelDto" nillable="true" type="tns:IModelDto" />
  <xs:complexType name="UserDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IModelDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="ArrayOfSensorDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SensorDto" nillable="true" type="tns:SensorDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensorDto" nillable="true" type="tns:ArrayOfSensorDto" />
</xs:schema>